<section class="login-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input matInput ngModel placeholder="Enter your registered email" type="email" name="email" required email
        #emailInput="ngModel">
        <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
        <mat-error *ngIf="!emailInput.hasError('required')">E-Mail is invalid.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput ngModel placeholder="Enter your password" type="password" name="password" required password
        #passwordInput="ngModel">
    </mat-form-field>
    <mat-checkbox color="primary" ngModel name="remember"> Remember me </mat-checkbox>
    <button class="submit-button" type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
  </form>
</section>